/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */
.color-1 
{
    background: #222222;
}

.color-2
{
     background: #a10022;   
}

.color-3
{
    background: #EFFFFF;   
}

/* Textures or Patterns*/
.pattern-1
{
    background-image: url(../img/congruent_outline.png);
    background-size: 200%;
}

.pattern-2
{
    background-image: url(../img/footer_lodyas.png);   
    background-size: 550%;
}
/* Imagery 
   IN HTML */

.imagery-1
{
      width: 110%;
}

.imagery-1 img
{
    width: 500px;
}

 .imagery-2
{
    height: 130%;
}

.imagery-2 img
{
    height: auto;
    width: 200px;    
}
/* Icons */

/* IN HTML */

/* Typography */
body {
    background: #222222;
    font-family: 'Hind Siliguri', sans-serif;   
    color: #EEEFFF;
}

ul {
   list-style: none; 
}

a {
    color: #ABABAB;
    text-decoration: none;
    
}

h1, h2 {
 text-decoration: underline;
}

a:hover {
     font-size: 102%;   
     color: #EEEFFF;
}

button 
{
    background: #EEEFFF;
    box-shadow: 2px 2px 20px;
    border-radius: 5px;
}
/* Forms */

input[type="text"], textarea
{
    padding: 5px;
 background-color: #222222;    
}

input, select, textarea{
    color: #EEFFFF;
}

textarea:focus, input:focus {
    color: #EEFFFF;
}

/* Tables */

table
{
 text-align: center;   
}

/* Cards */



